body {
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

form input,
form button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 8px;
    text-align: left;
}